DATABASE_URL=postgres://jouribeauty:jouribeauty@jouribeauty_database:5432/jouribeauty?sslmode=disable
PORT=4000
CORS_ORIGINS=https://jouribeauty.store,https://www.jouribeauty.store,http://localhost:3000
